{{ define "main" }}
<div class="wy-jumbotron">
    <div class="container">
        {{ if $avatar := .Resources.GetMatch "avatar" }}
        <div class="media p-0">
            <img src="{{ $avatar.RelPermalink }}" alt="" class="wy-avatar" width=64>
            <div class="media-body p-0">
                {{ end }}
                <h1>{{ .Title }}</h1>
                {{ with .Summary }}<p>{{ . }}</p>{{ end }}
                {{ with .Params.links }}
                {{ partial "author-links.html" . }}
                {{ end }}
                {{ with .Resources.GetMatch "avatar" }}
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ with .Content }}
<div class="wy-content container py-5">
    {{ . }}
</div>
{{ end }}
{{ if .Pages }}
<div class="container py-5">
    <p>{{ i18n "authors.of-books.name" (dict "name" .Title "books" (i18n "books.of-books" (len .Pages))) }}:</p>
    <div class="row">
        {{ range (.Pages.ByParam "featured") }}
        <div class="col-md-6 col-lg-4 mb-3">
            {{ partial "book-card.html" (dict "book" . "primary" true) }}
        </div>
        {{ end }}
    </div>
</div>
{{ else }}
{{ if $bookSection := .Site.GetPage "section" "books" }}{{ partial "unreferenced.html" (i18n "authors.unreferenced.alert.p-2") }}{{ else }}{{ partial "unpublished.html" (i18n "authors.unpublished.alert.p-1") }}{{ end }}
{{ end }}
{{ end }}