{{ define "main" }}
{{ partial "jumbotron.html" . }}
{{ with .Content }}
<div class="wy-content container pt-5">
    {{ . }}
</div>
{{ end }}
{{ if .Data.Terms }}
<div class="container py-5">
    <div class="row">
        {{ range .Data.Terms.Alphabetical }}
        <div class="col-md-12 col-lg-6 mb-3">
            {{ partial "author-card.html" (dict "author" . "primary" true) }}
        </div>
        {{ end }}
    </div>
</div>
{{ else }}
{{ $bookSection := .Site.GetPage "section" (i18n "nav.books.url") }}
{{ if $bookSection.Pages }}{{ partial "unreferenced.html" (i18n "authors.unreferenced.alert.p-1") }}{{ else }}{{ partial "unpublished.html" (i18n "authors.unpublished.alert.p-1") }}{{ end }}
{{ end }}
{{ end }}