{{ define "social-media-meta" }}
{{ with .Summary | markdownify | plainify }}
<meta property="og:description" content="{{ . }}" />{{ end }}
{{ with .Resources.GetMatch "cover" }}
<meta property="og:image" content="{{ .Permalink }}" />{{ end }}
<meta name="twitter:card" content="summary_large_image" />
{{ end }}

{{ define "main" }}
{{ partial "jumbotron.html" . }}
{{ with .Content }}
<div class="wy-content container py-5">
    {{ . }}
</div>
{{ end }}
{{ if .Pages }}
<div class="container py-5">
    <p>The following book{{ if ne (len .Pages) 1 }}s are{{ else }} is{{ end }} part of the {{ .Title }} series:</p>
    <div class="row">
        {{ range (.Pages.ByParam "featured") }}
        <div class="col-md-6 col-lg-4 mb-3">
            {{ partial "book-card.html" (dict "book" . "primary" true) }}
        </div>
        {{ end }}
    </div>
</div>
{{ else }}
{{ if $bookSection := .Site.GetPage "section" "books" }}{{ partial "unreferenced.html" (i18n "series.unreferenced.alert.p-2") }}{{ else }}{{ partial "unpublished.html" (i18n "series.unpublished.alert.p-1") }}{{ end }}
{{ end }}
{{ end }}