<!doctype html>
<html lang="en">

<head>
    {{ partial "_head.html" . }}
    {{ block "social-media-meta" . }}
    {{ with .Site.Params.Description | markdownify | plainify }}
    <meta property="og:description" content="{{ . }}" />{{ end }}
    {{ with .Site.Params.cover }}
    <meta property="og:image" content="{{ . | absURL }}" />{{ end }}
    <meta name="twitter:card" content="summary_large_image" />
    {{ end }}
</head>

<body>
    {{ partial "_nav.html" . }}
    <main>
        {{ block "main" . }}{{ end }}
    </main>
    <footer class="wy-footer">
        {{ partial "_footer.html" . }}
    </footer>
    {{ partial "_foot.html" . }}
</body>

</html>