<div class="container">
    <div class="row">
        <div class="col-lg mb-3">
            <p class="mb-0"><small>Copyright ©
                    {{ .Site.LastChange.Format "2006" }}{{ with .Site.Params.authors }}
                    {{ (delimit . ", ") | markdownify }}{{ end }}</small>
            </p>
            <p class="mb-0">
                <small>{{ with .Site.Copyright }}{{ . | markdownify }}{{ else }}{{ i18n "footer.p-1" }}{{ end }}</small>
            </p>
        </div>
        {{ if .Site.Params.logogram }}
        <div class="col-lg-1 align-self-center mb-3">
            <p class="mb-0"><img src="{{ .Site.Params.logogram | relURL }}" alt="{{ .Site.Title }}" class="wy-logogram">
            </p>
        </div>
        {{ end }}
        <div class="col-lg mb-3">
            {{ with .Site.Params.thirdPartyReferences }}
            {{ range . }}
            <p class="mb-0"><small>{{ . | markdownify }}</small></p>
            {{ end }}
            {{ else }}
            <p class="mb-0"><small>{{ i18n "footer.p-2" | markdownify }}</small></p>
            <p class="mb-0"><small>{{ i18n "footer.p-3" | markdownify }}</small></p>
            {{ end }}
        </div>
    </div>
</div>