<nav class="wy-nav-bar">
    <div class="container">
        <a class="navbar-brand" href="{{ .Site.BaseURL | relURL }}">{{ if .Site.Params.logogram }}<img
                src="/{{ .Site.Params.logogram }}" alt="{{ .Site.Title }}">{{ else }}{{ .Site.Title }}{{ end }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a href="{{ .Site.BaseURL | relURL }}"
                    class="nav-item nav-link{{ if .IsHome }} active{{ end }}">Home{{ if .IsHome }}
                    <span class="sr-only">(current)</span>{{ end }}</a>
                {{ $currentPage := . }}
                {{ range .Site.Menus.header | default (dict "1" (dict "URL" "/books/" "Name" "Books") "2" (dict "URL" "/series/" "Name" "Series") "3" (dict "URL" "/authors/" "Name" "Authors")) }}
                <a href="{{ .URL | relURL }}"
                    class="nav-item nav-link{{ if in $currentPage.Permalink .URL }} active{{ end }}">{{ .Name }}{{ if in $currentPage.Permalink .URL }}
                    <span class="sr-only">(current)</span>{{ end }}</a>
                {{ end }}
            </div>
        </div>
    </div>
</nav>