<nav class="wy-nav-bar">
    <div class="container">
        <a class="navbar-brand" href="{{ .Site.Home.RelPermalink }}">{{ if .Site.Params.logogram }}<img
                src="/{{ .Site.Params.logogram }}" alt="{{ .Site.Title }}">{{ else }}{{ .Site.Title }}{{ end }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-auto">
                <a href="{{ .Site.Home.RelPermalink }}"
                    class="nav-item nav-link{{ if .IsHome }} active{{ end }}">{{ i18n "nav.home" }}{{ if .IsHome }}
                    <span class="sr-only">({{ i18n "nav.current" }})</span>{{ end }}</a>
                {{ $currentPage := . }}
                {{ range .Site.Menus.header }}
                <a href="{{ .URL | relURL }}"
                    class="nav-item nav-link{{ if or ($currentPage.HasMenuCurrent "header" .) ($currentPage.IsMenuCurrent "header" .) }} active{{ end }}">{{ .Name }}{{ if or ($currentPage.HasMenuCurrent "header" .) ($currentPage.IsMenuCurrent "header" .) }}
                    <span class="sr-only">({{ i18n "nav.current" }})</span>{{ end }}</a>
                {{ else }}
                <a href="{{ i18n "nav.books.url" | relLangURL }}"
                    class="nav-item nav-link{{ if in .RelPermalink (printf "%s/" (i18n "nav.books.url" | relLangURL)) }} active{{ end }}">{{ i18n "nav.books" }}{{ if in .RelPermalink (printf "%s/" (i18n "nav.books.url" | relLangURL)) }}
                    <span class="sr-only">({{ i18n "nav.current" }})</span>{{ end }}</a>
                <a href="{{ i18n "nav.series.url" | relLangURL }}"
                    class="nav-item nav-link{{ if in .RelPermalink (printf "%s/" (i18n "nav.series.url" | relLangURL)) }} active{{ end }}">{{ i18n "nav.series" }}{{ if in .RelPermalink (printf "%s/" (i18n "nav.series.url" | relLangURL)) }}
                    <span class="sr-only">({{ i18n "nav.current" }})</span>{{ end }}</a>
                <a href="{{ i18n "nav.authors.url" | relLangURL }}"
                    class="nav-item nav-link{{ if in .RelPermalink (printf "%s/" (i18n "nav.authors.url" | relLangURL)) }} active{{ end }}">{{ i18n "nav.authors" }}{{ if in .RelPermalink (printf "%s/" (i18n "nav.authors.url" | relLangURL)) }}
                    <span class="sr-only">({{ i18n "nav.current" }})</span>{{ end }}</a>
                {{ end }}
            </div>
            {{ if .IsTranslated }}
            <hr class="d-sm-block d-md-none">
            <div class="navbar-nav">
                {{ $currentPage := . }}
                {{ range .AllTranslations }}
                <a href="{{ .RelPermalink }}"
                    class="nav-item nav-link{{ if eq $currentPage . }} active{{ end }}">{{ .Lang | upper }}</a>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>
</nav>