<div class="shadow card">
    {{ with .author.Page.Resources.GetMatch "cover "}}<img src="#" alt="" class="card-img-top">{{ end }}
    <div class="card-body">
        <div class="media">
            {{ with .author.Page.Resources.GetMatch "avatar" }}<img src="{{ .RelPermalink }}" alt="" class="wy-avatar"
                width=64>{{ end }}
            <div class="media-body">
                <h2 class="card-title">{{ .author.Page.Title }}</h2>
                <p class="card-subtitle text-muted">Author of {{ len .author.Pages }}
                    book{{ if ne (len .author.Pages) 1 }}s{{ end }}
                </p>
                {{ with .author.Page.Summary }}<p class="mt-3 mb-0">{{ . }}</p>{{ end }}
                <a href="{{ .author.Page.RelPermalink }}" role="button"
                    class="wy-card-link btn-{{ if not .primary }}outline-{{ end }}primary">List books</a>
            </div>
        </div>
    </div>
</div>