<div class="shadow card">
    {{ if .book.Params.featured }}
    <span class="wy-badge-featured">{{ i18n "books.featured" }}</span>
    {{ end }}
    {{ with .book.Resources.GetMatch "cover" }}
    <div class="card-img-top p-3">
        <img src="{{ .RelPermalink }}" alt="" class="mw-100 mh-100">
    </div>
    {{ end }}
    <div class="card-body">
        {{ if index .book.Params (i18n "nav.series.url") }}
        <small class="card-subtitle text-muted">{{ index .book.Params (i18n "nav.series.url") }}</small>
        {{ end }}
        <h2 class="card-title">{{ .book.Title }}</h2>
        {{ if index .book.Params (i18n "nav.authors.url") }}
        <p class="card-subtitle text-muted">{{ i18n "books.by" }}
            {{ delimit (index .book.Params (i18n "nav.authors.url")) ", " }}
        </p>
        {{ end }}
        <a href="{{ .book.RelPermalink }}" role="button"
            class="wy-card-link btn-{{ if not .primary }}outline-{{ end }}primary">{{ i18n "books.card.button-1"}}</a>
    </div>
    <div class="card-footer text-muted">
        {{ partial "story-status.html" (dict "ended" .book.Params.ended) }}
    </div>
</div>