<div class="shadow card">
    {{ if .book.Params.featured }}
    <span class="wy-badge-featured">{{ i18n "books.featured" }}</span>
    {{ end }}
    {{ with .book.Resources.GetMatch "cover" }}
    <img src="{{ .RelPermalink }}" alt="" class="card-img-top p-3">
    {{ end }}
    <div class="card-body">
        {{ if .book.Params.series }}
        <small class="card-subtitle text-muted">{{ .book.Params.series }}</small>
        {{ end }}
        <h2 class="card-title">{{ .book.Title }}</h2>
        {{ if .book.Params.authors }}
        <p class="card-subtitle text-muted">{{ i18n "books.by" }}
            {{ delimit .book.Params.authors ", " }}
        </p>
        {{ end }}
        <a href="{{ .book.RelPermalink }}" role="button"
            class="wy-card-link btn-{{ if not .primary }}outline-{{ end }}primary">{{ i18n "books.card.button-1"}}</a>
    </div>
    <div class="card-footer text-muted">
        {{ partial "story-status.html" (dict "ended" .book.Params.ended) }}
    </div>
</div>