<div class="shadow card">
    {{ if .series.Page.Params.featured }}
    <span class="wy-badge-featured">{{ i18n "series.featured" }}</span>
    {{ end }}
    {{ with .series.Page.Resources.GetMatch "cover" }}
    <div class="card-img-top p-3">
        <img src="{{ .RelPermalink }}" alt="" class="mw-100 mh-100">
    </div>
    {{ end }}
    <div class="card-body">
        <h2 class="card-title">{{ .series.Page.Title }}</h2>
        <p class="card-subtitle text-muted">{{ i18n "series.of-books" (len .series.Pages) }}</p>
        <a href="{{ .series.Page.RelPermalink }}" role="button"
            class="wy-card-link btn-{{ if not .primary }}outline-{{ end }}primary">{{ i18n "series.card.button-1" }}</a>
    </div>
</div>