{{ $active := .active }}
<h6>{{ i18n "books.toc" }}</h6>
<div class="shadow list-group">
    <a href="{{ .book.RelPermalink }}"
        class="list-group-item list-group-item-action{{ if eq .book $active }} active{{ end }}">{{ i18n "books.index.h" }}</a>
    {{ range .book.Pages.ByParam "order" }}
    <a href="{{ .RelPermalink }}"
        class="list-group-item list-group-item-action{{ if eq . $active }} active{{ end }}">{{ .Title }}</a>
    {{ end }}
</div>
{{ if not .book.Params.ended }}
<p class="text-muted mt-3 mb-0">
    {{ partial "story-status.html" (dict "ended" .book.Params.ended "extended" true) }}</p>
{{ end }}