{{ define "main" }}
<div class="wy-jumbotron-home">
    <div class="container">
        <h1 class="mb-3">{{ if .Site.Params.logo }}<img src="{{ .Site.Params.logo | relURL }}"
                alt="{{ .Site.Title }}">{{ else }}{{ .Site.Title }}{{ end }}</h1>
        <p>{{ .Site.Params.description | markdownify }}</p>
    </div>
</div>
{{ $bookSection := .Site.GetPage "section" (i18n "nav.books.url") }}
{{ if $bookSection.Pages }}
<div class="container py-5">
    <div class="row">
        <div class="col-md-4 text-center">
            <p>
                <img src="/mirage-welcome.png" alt="" class="img-fluid">
            </p>
        </div>
        <div class="wy-content col">
            {{ if .Content }}
            {{ .Content }}
            {{ else }}
            <h1>{{ i18n "home.h-1" }}</h1>
            <p>{{ i18n "home.p-1" | markdownify }}</p>
            {{ end }}
        </div>
    </div>
</div>
{{ $books := .GetPage (printf "%s" (i18n "nav.books.url" | relLangURL)) }}
{{ $series := .GetPage (printf "%s" (i18n "nav.series.url" | relLangURL)) }}
{{ if or $books $series }}
<div class="bg-light py-5">
    <div class="container">
        <div class="row">
            {{ if $books.Pages }}
            <div class="col-md-6 col-lg-4 offset-lg-1">
                {{ range first 1 ($books.Pages.ByParam "featured")}}
                {{ partial "book-card.html" (dict "book" . "primary" true) }}
                {{ end }}
            </div>
            {{ end }}
            {{ if and $books $series }}
            <hr class="col d-block d-md-none">
            {{ end }}
            {{ if $series.Pages }}
            <div class="col-md-6 col-lg-4 offset-lg-2">
                {{ range first 1 ($series.Pages.ByParam "featured") }}
                {{ partial "series-card.html" (dict "series" . "primary" true) }}
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
{{ else }}
{{ partial "unpublished.html" (i18n "home.unpublished.alert.p-1") }}
{{ end }}
{{ end }}