{{ define "main" }}
<div class="sy-status-bar">
    <div>
        <span class="text-white-50"><a href="{{ .Parent.RelPermalink }}">{{ .Parent.Title }}</a> ·</span> Chapter
        {{ .Params.order }} of
        {{ len .Parent.Pages }}
    </div>
</div>
{{ partial "jumbotron" . }}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-8">
            <div class="sy-content">
                {{ .Content }}
            </div>
            <hr>
            <h6>Next Chapter</h6>
            <div class="shadow card">
                <div class="card-body">
                    {{ $book := .Parent.Pages.ByParam "order" }}
                    {{ with $book.Prev . }}
                    <h5 class="card-title">{{ .Title }}</h5>
                    <p class="card-subtitle">{{ .Summary }}</p>
                    <a href="{{ .RelPermalink }}" class="sy-card-link">Read it</a>
                    {{ else }}
                    {{ partial "story-status.html" (dict "ended" .Parent.Params.ended "extended" true) }}
                    {{ end }}
                </div>
            </div>
        </div>
        {{ if and .Content .Parent.Pages }}
        <div class="col-lg d-lg-none">
            <hr>
        </div>
        {{ end }}
        <div class="col">
            {{ partial "toc.html" (dict "book" .Parent "active" . ) }}
        </div>
    </div>
</div>
{{ end }}