{{ define "social-media-meta" }}
{{ with .Summary | markdownify | plainify }}
<meta property="og:description" content="{{ . }}" />{{ end }}
{{ with .Resources.GetMatch "cover" }}
<meta property="og:image" content="{{ .Permalink }}" />{{ end }}
<meta name="twitter:card" content="summary_large_image" />
{{ end }}

{{ define "main" }}
<div class="wy-status-bar">
    <div class="text-center">
        {{ partial "story-status.html" (dict "ended" .Params.ended "extended" true) }}
    </div>
</div>
<div class="wy-jumbotron">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h1 class="display-3">{{ .Title }}</h1>
                {{ with index .Params (i18n "nav.authors.url") }}<small class="text-muted">{{ i18n "books.by" }}
                    {{ delimit . ", " }}</small>{{ end }}
                {{ with .Summary }}<p>{{ . }}</p>{{ end }}
            </div>
            {{ with .Resources.GetMatch "cover" }}
            <div class="col-lg-4">
                <img src="{{ .RelPermalink }}" class="mw-100 mh-100">
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ if .Pages }}
{{ partial "toc-nav.html" (dict "book" . "active" .) }}
{{ end }}
{{ if (or .Content .Pages) }}
<div class="container py-5">
    <div class="row">
        <div class="col{{ if .Pages }}-lg-8{{ end }}">
            {{ with .Content }}
            <div class="wy-content">
                {{ . }}
            </div>
            {{ end }}
            {{ if and .Content .Pages }}
            <hr>
            {{ end }}
            {{ if .Pages }}
            <h6>{{ i18n "books.first-chapter" }}</h6>
            <div class="shadow card">
                <div class="card-body">
                    {{ with index (first 1 (.Pages.ByParam "order")) 0 }}
                    <h5 class="card-title">{{ .Title }}</h5>
                    <p class="card-subtitle">{{ .Summary }}</p>
                    <a href="{{ .RelPermalink }}" class="wy-card-link btn-primary">{{ i18n "books.card.button-1" }}</a>
                    {{ else }}
                    {{ partial "story-status.html" (dict "ended" .Params.ended "extended" true) }}
                    {{ end }}
                </div>
            </div>
            {{ end }}
        </div>
        {{ if .Pages }}
        <div class="col d-none d-lg-block">
            {{ partial "toc-list.html" (dict "book" . "active" . ) }}
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
{{ if or (index .Params (i18n "nav.series.url")) (index .Params (i18n "nav.authors.url")) }}
{{ $pages := .Pages }}
<div class="bg-light py-5">
    <div class="container">
        {{ with index .Params (i18n "nav.series.url") }}
        <h6>{{ i18n "books.about-series.h" }}</h6>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                {{ partial "series-card.html" (dict "series" ($.Site.GetPage (printf "%s/%s" (i18n "nav.series.url" | relLangURL ) (. | urlize))) "primary" (not $pages)) }}
            </div>
        </div>
        {{ end }}
        {{ if and (index .Params (i18n "nav.series.url")) (index .Params (i18n "nav.authors.url"))}}
        <hr>
        {{ end }}
        {{ with index .Params (i18n "nav.authors.url") }}
        <h6>{{ i18n "books.about-authors.h" (len .) }}</h6>
        <div class="row">
            {{ range . }}
            <div class="col-md-12 col-lg-6 mb-3">
                {{ partial "author-card.html" (dict "author" ($.Site.GetPage (printf "%s/%s" (i18n "nav.authors.url" | relLangURL) (. | urlize))) "primary" (not $pages)) }}
            </div>
            {{ end }}
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
{{ end }}